#reg{
        background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Frecycle-background&psig=AOvVaw20Zo77uhakWlSPnz3ITCo1&ust=1680080013542000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCICcuPWf_v0CFQAAAAAdAAAAABAE');
    background-repeat: no-repeat;
        background-size: cover;
    }
